/// Custom scrollbar.
/// @access public

@mixin thin {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    &:hover {
      background-color: var(--text-light);
    }
    &:active {
      background-color: var(--primary);
    }
  }
}
