@use 'open-color/open-color' as *;

/// Light theme variables.
/// @access public

@mixin light {
  --background: #{$oc-gray-2};
  --border-dark: #{$oc-gray-6};
  --border-light: #{$oc-gray-2};
  --border: #{$oc-gray-4};
  --danger-surface: #{$oc-red-6};
  --danger: #{$oc-red-7};
  --foreground: #{$oc-white};
  --hover-surface: #{$oc-gray-1};
  --primary-surface: #{$oc-indigo-6};
  --primary: #{$oc-indigo-7};
  --success-surface: #{$oc-teal-5};
  --text-disabled: #{$oc-gray-5};
  --text-light: #{$oc-gray-6};
  --text-on-danger-surface: #{$oc-white};
  --text-on-primary-surface: #{$oc-white};
  --text: #{$oc-gray-9};
  // Shadows
  --low-shadow: 1px 2px 3px hsl(0deg 0% 0% / 0.04);
  --medium-shadow: 1px 3px 12px hsl(0deg 0% 0% / 0.08);
  --high-shadow: 1px 3px 24px hsl(0deg 0% 0% / 0.12);
  // Elements
  --backdrop: #{rgba($oc-gray-2, 0.95)};
  --scrollbar-thumb: var(--border-light);
  --scrollbar-track: transparent;
}

/// Dark theme variables.
/// @access public

@mixin dark {
  --background: #{$oc-gray-9};
  --border-dark: #{$oc-gray-6};
  --border-light: #{$oc-gray-7};
  --border: #{$oc-gray-7};
  --foreground: #{$oc-gray-8};
  --hover-surface: #{$oc-gray-7};
  --primary-surface: #{$oc-indigo-5};
  --primary: #{$oc-indigo-4};
  --text-disabled: #{$oc-gray-6};
  --text-light: #{$oc-gray-5};
  --text: #{$oc-gray-0};
  // Elements
  --backdrop: #{rgba($oc-black, 0.9)};
}
