@use '@/css/theme';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  @include theme.light;
  --app-header-height: 64px;
  --app-max-width: 1200px;
  color-scheme: light;
}

.dark {
  @include theme.dark;
  color-scheme: dark;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-size: 100%;
  line-height: 1.6;
}
