@use 'open-color/open-color' as *;
@use 'sass:math';
@use 'sass:map';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --app-max-width: 1200px;
  --card-aspect-ratio: 4 / 5;
  // Colors
  --backdrop: #{rgba($oc-gray-2, 0.95)};
  --background: #{$oc-gray-2};
  --border: #{$oc-gray-4};
  --danger-surface: #{$oc-red-5};
  --foreground: #{$oc-white};
  --primary-surface: #{$oc-blue-5};
  --primary-text: #{$oc-blue-7};
  --success-surface: #{$oc-teal-5};
  --text-disabled: #{$oc-gray-5};
  --text-light: #{$oc-gray-6};
  --text-on-primary-surface: #{$oc-white};
  --text: #{$oc-gray-9};

  // TODO: Remove these probably
  --app-sidebar-width: 480px;
  --drop: #{$oc-gray-1};
  --gray: #{$oc-gray-2};
  color-scheme: light;
}

.dark {
  --backdrop: #{rgba($oc-black, 0.9)};
  --background: #{$oc-gray-8};
  --border: #{$oc-gray-6};
  --foreground: #{$oc-gray-9};
  --primary-surface: #{$oc-white};
  --text-disabled: #{$oc-gray-6};
  --text-light: #{$oc-gray-5};
  --text-on-primary-surface: #{$oc-gray-9};
  --text: #{$oc-white};
  color-scheme: dark;
}

html {
  background-color: var(--foreground);
  color: var(--text);
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  size: 100%;
}

// Tier colors
@each $-colors, $-key in $oc-color-list {
  .#{$-key} {
    background-color: map.get($-colors, '6');
    &-2 {
      background-color: map.get($-colors, '9');
    }
  }
}
