@use 'open-color/open-color' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --aspect-ratio: 4 / 5;
  --background: #{$oc-white};
  --border: #{$oc-gray-4};
  --danger: #{$oc-red-6};
  --disabled: #{$oc-gray-5};
  --gray: #{$oc-gray-2};
  --primary: #{$oc-blue-7};
  --text-light: #{$oc-gray-6};
  --text: #{$oc-gray-9};
}

.dark {
  --background: #{$oc-gray-9};
  --border: #{$oc-gray-6};
  --gray: #{$oc-gray-7};
  --primary: #{$oc-blue-4};
  --text-light: #{$oc-gray-5};
  --text: #{$oc-white};
  color-scheme: dark;
}

html {
  background-color: var(--background);
  color: var(--text);
  color-scheme: light;
  font-family: fantasy;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  size: 100%;
}
